<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="List Reastaurants For You">
  <meta name="theme-color" content="#1C6758"/>

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#restaurant" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <nav class="nav-bar">
      <div class="nav-logo">
        <h1 tabindex="0">MakanYuxx</h1>
      </div>
      <button id="menu" class="header__menu" aria-label="drawer menu" href="">☰</button>

      <div id="navigationDrawer" class="menu-bar">
        <ul class="list-menu">
          <li class="nav-item"><a href="#home">Home</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/fadilla-rahim-96034621b/ " target="_blank"  rel="noreferrer">About Us</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
        </ul>
      </div>
    </nav>
  </header>



  <div class="jumbotron" id="jumbotron">
    <picture>
      <source media="(max-width: 600px)" srcset="./images/hero-image_2-small.jpg" width="100%">
      <img src='./images/hero-image_2-large.jpg' 
           alt="life is strange 2 poster">
    </picture>
    <div class="overlay">
      <div class="hero-inner" tabindex="0"> 
        <h2 class="hero-title">Are You Hungry ???</h2>
        <p class="hero-desc text-capitalize">Hunger Can Make Your Day and Time Feel Really Bad, so make sure your stomach is always full and it will make your day feel good. Let's Explore Various Favorite Restaurants Here</p>
      </div>
    </div>
  </div>

  <main id="restaurant" tabindex="0">
    
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row follow-us">
        <div class="footer-col">
          <h4 tabindex="0">follow us</h4>
          <div class="social-links">
            <a href="#" aria-label="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" aria-label="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" aria-label="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" aria-label="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="create-by">
      <h6 tabindex="0">Made with <span class="love" aria-label="love">&#10084;</span> by Fadilla Rahim</h6>
      <h6 tabindex="0">MSIB Batch 3 at Dicoding Indonesia</h6>
  </div>
  </footer>
</body>
</html>
